
#slider{
	position: relative;
}

#slider img{	
	width: 100%;
	position: relative;	
	display: none;
	transition: left 1s;
	top:0;
}

#slider .items{
	overflow: hidden;
	width: 100%;
}

#slider img.left { left: -100%; display: block; position:absolute; }
#slider img.right {left: 100%; display: block;position:absolute;}
#slider img.active,#slider img.active.left,#slider img.active.right { left: 0; display: block; }

#slider .nav{
	position: absolute;
	top: 45%;
	width: 19px;
	height: 75px;	
}

#slider .nav.prev{
	left: 0;
	background: url('../img/arrow-flip.png');
}
#slider .nav.next{
	background: url('../img/arrow.png');
	right: 0;
}
